.road-map-card {
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  min-height: 180px;
  height: 180px;
  margin-top: 10px;
}
.step-number-header {
  top: -42px;
  left: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #90caf9;
}

.step-txt {
  padding-bottom: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.feature-icon {
  font-size: 40px !important;
}

@media (max-width: 992px) {
  .road-map-card {
    margin-top: 50px;
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    margin: 50px 10px 0px;
  }
  .step-number-header {
    top: -2px;
    left: 10px;
    font-size: 60px;
    font-weight: bold;
    color: #90caf9;
  }
}
